.title-section {
  padding: 60px 0 44px 0;
}

.title-section h1 {
  margin-bottom: 0;
  font-family: "avenir-pro", Helvetica, Arial, sans-serif;
  line-height: 130%;
  font-weight: 500;
  text-align: center;
  font-size: 36px;
}

@media (max-width: 800px) {
  .title-section h1 {
    font-size: 30px;
  }
}
