header {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.94);
  /* background: rgb(184, 184, 231); */
  height: 54px;
}

header * {
  user-select: none;
}

.not-top {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

nav {
  max-width: 1180px;
  width: 100%;
  min-width: 310px;
  margin: auto;
  padding-left: 34px;
  padding-right: 34px;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 34px;
}

.logo {
  display: inline-block;
  width: 97px;
  height: 54px;
  cursor: pointer;
}

.logo svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  vertical-align: middle;
  padding-right: 34px;
  font-weight: 600;
}

.right li {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  height: 54px;
  /* font-weight: bold; */
  line-height: 54px;
  padding: 0 10px;
}

.right li:hover .header-dropdown {
  display: block;
}

.right li .header-dropdown {
  display: none;
  z-index: 100;
  position: absolute;
  top: 54px;
  left: 0;
  width: 200px;
  background: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
  overflow: visible;
}

.right li .header-dropdown::before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  left: 0;
  height: 8px;
  background: none;
  z-index: 50;
}

.contact-link:hover {
  background: rgba(0, 138, 220, 0.1);
  border-color: #007dc8;
}

.get-started-link:hover {
  background: #006aa9;
}

a.l2 {
  font-weight: bold;
  cursor: pointer;
  color: #008adc;
  text-decoration: none;
  text-align: left;
}

.l1:hover,
a.l2:hover {
  background: rgba(0, 138, 220, 0.1);
}

.header-dropdown .l2 {
  display: block;
  font-size: 15px;
  width: 100%;
  height: 46px;
  line-height: 46px;
  padding: 0 14px;
}

.link {
  color: #008adc;
  text-decoration: none;
}

.search-link {
  top: 4px;
}

.search-link img {
  width: 20px;
  height: 20px;
}

.with-background {
  display: inline-block;
  height: 31px;
  line-height: 30px;
  margin-top: 10px;
  padding: 0 13px;
  margin-left: 10px;
  border: 2px solid #008adc;
  color: #008adc;
  border-radius: 3px;
  cursor: pointer;
}

.get-started-link {
  background: #008adc;
  color: white;
}

.right li.contact,
.right li.get-started {
  padding: 0;
}

.menu-icon {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: -14px;
  cursor: pointer;
  padding: 0 12px;
  color: #008adc;
  font-weight: bold;
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  text-transform: uppercase;
  min-width: 104px;
  margin-right: 34px;
}

.menu-icon svg {
  margin-top: 17px;
  display: inline-block;
  margin-right: 7px;
  pointer-events: none;
  margin-bottom: -4px;
}

.menu-icon:hover {
  background: rgba(0, 138, 220, 0.1);
}

.mobile-menu {
  position: fixed;
  z-index: 50;
  top: 54px;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  padding: 16px 34px 50px 34px;
  overflow: auto;
  text-align: left;
}

.mobile-menu .l1 {
  display: block;
  color: #008adc;
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  cursor: pointer;
  padding-left: 16px;
  background: rgba(0, 138, 220, 0.1);
  text-decoration: none;
}

.mobile-menu .header-dropdown {
  border-radius: 0 0 2px 2px;
  line-height: 34px;
  background: rgba(0, 138, 220, 0.1);
  padding-bottom: 6px;
}

.mobile-menu .l2 {
  display: block;
  padding-left: 36px;
  line-height: 34px;
  font-size: 15px;
  font-weight: bold;
  color: #008adc;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 950px) {
  .right {
    display: none;
  }
  .menu-icon {
    opacity: 1;
    pointer-events: auto;
  }
}
